echo node_modules/ >> .gitignore
echo dist/ >> .gitignore
echo .env >> .gitignore
echo .DS_Store >> .gitignore
echo npm-debug.log* >> .gitignore
echo yarn-debug.log* >> .gitignore
echo yarn-error.log* >> .gitignore